services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "8001:8001"
    depends_on:
      - redis

volumes:
  redis:
